<h1 class="mx-4">All my booking requests</h1>

<% @bookings.each do |booking| %>
  <div class="my-4 mx-4">
    <% booking.start_date.month >= 10 ? zero = "" : zero = "0"%>
    <h2>Réservation du <%= booking.start_date.day %>/<%= zero %><%= booking.start_date.month %> au <%= booking.end_date.day %>/<%= zero %><%= booking.end_date.month%></h2>
    <h4>Pour <%= booking.bike.description %></h4>
    <p>Request by <%= booking.user.first_name %> - Réservation <strong> <%= booking.status %> </strong> </p>
    <% if booking.pending? %>
      <%= link_to 'Accept', accept_owner_booking_path(booking), method: :post, class: 'btn btn-success mr-3'%>
      <%= link_to 'Refuse', refuse_owner_booking_path(booking), method: :post, class: 'btn btn-danger' %>
    <% end %>
    <hr>
  </div>
<% end %>
