<h1 class="mt-4">All my bookings</h1>
<div class="container">
  <div class="main-container-bookings">
    <% @bookings.each do |booking| %>
      <div class="card-booking">
        <% booking.bike.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-booking-infos">
          <div>
            <h1><%= booking.bike.description %></h1>
            <p>Bike size : <%= booking.bike.size%></p>
            <% booking.start_date.month >= 10 ? zero = "" : zero = "0"%>
            <p>Réservation du <%= booking.start_date.day %>/<%= zero %><%= booking.start_date.month %> au <%= booking.end_date.day %>/<%= zero %><%= booking.end_date.month%></p>
            <%= link_to 'See details', bike_booking_path(booking.bike, booking), class: 'btn btn-primary mt-4' %>
          </div>
          <h2 class="card-booking-pricing"><%= booking.bike.price %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
</div>

