<div class = "bikes-container">
  <div class="cards">
    <% @bikes.each do |bike| %>
      <div class="card-bike">
        <% bike.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>
        <div class="card-bike-infos">
          <div>
            <h1><%= bike.description %></h1>
            <p>Size: <%= bike.size %></p>
            <p>Color: <%= bike.color %></p>
            <%= link_to "Rent it", bike_path(bike), class: "btn btn-gradient mt-3" %>
          </div>
          <h2 class="card-bike-pricing"><%= bike.price %>€</h2>
        </div>
      </div>
    <% end %>
  </div>
  <div class="map mr-3 mt-3 mb-3" id="map"
     style="width: 31%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



