
<div class="bike-container ">
  <% @bike.photos.each do |photo| %>
    <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
  <% end %>
    <div>
      <h2><%= @bike.user.last_name %>'s Bike</h2>
      <p>This are the bike's details : <%= @bike.description %></p>
      <p>Color : <%= @bike.color %></p>
      <p>Size : <%= @bike.size %></p>
      <p>Accessories : <%= @bike.accessories %></p>
      <p>Price : <%= @bike.price %>€ a day</p>
    </div>
    <%= link_to "Book", new_bike_booking_path(@bike), class: "btn btn-success mt-2"  %>
    <%= link_to "All bikes", bikes_path, class: "btn btn-primary mt-2" %>
</div>
